
<body>
  <div class="container">
    <h1>Welcome to Stupid Coach</h1>
    <h2>What would you like to ask?</h2>
    <div>
      <form action="/answers" method="get">
        <input type="text" name="question" placeholder="What are you going to do?">
        <input type="submit">
      </form>
    </div>
  </div>
</body>

